<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS_Importador_de_cartas_de_porte.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <CS_Importador_de_cartas_de_porte.Properties.Settings>
            <setting name="IdEntidadDestinatarioLocal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IdUsuarioImportador" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="IdCartaPorteMotivoAnulacion" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DatabaseDatasource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DatabaseUserId" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>Tai1802Pei</value>
            </setting>
            <setting name="DatabaseCatalog" serializeAs="String">
                <value>CSMovimientoGranos</value>
            </setting>
            <setting name="DireccionEsUnCampoSi" serializeAs="String">
                <value>Si</value>
            </setting>
            <setting name="DireccionEsUnCampoNo" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="CuitEntidadDestinatarioLocal" serializeAs="String">
                <value>30710717946</value>
            </setting>
        </CS_Importador_de_cartas_de_porte.Properties.Settings>
    </applicationSettings>
</configuration>